.col-sm-9{
     background-color: rgb(243, 246, 248);
}

.col-sm-4{
     width: 90%;
     height: 250px;
     border: none;
     border-radius: 10px;
     background-color: white;
     margin: 10px;
     padding: 25px 0 0 25px;
}

.info{
     width: 85%;
     justify-content: center;
     margin: auto;
     margin-top: 80px;
}

.image img{
     width: 95%;
     height: 340px;
     justify-content: center;
     margin: auto;
     margin-top: -20px;
     margin-top: 10px;
}

.input-icone{
     margin-top: 15px;
}

.input-icone .recherche{
     position: absolute;
     margin-left: 30px;
     margin-top: 10px;
}

.input-icone input{
     position: relative;
     background-color: transparent;
     padding-left: 35px;
     margin-left: 25px;
     width: 70%;
     height: 40px;
     border-radius: 20px;
     border:1px solid rgb(243, 246, 248) ;
}

ion-icon{
     width: 25px;
     height: 25px;
}

button{
     border: none;
     background-color: white;
}

.temperature{
     font-size: 60px;
     width: 85%;
     margin: auto;
     justify-content: center;
}

.date{
     width: 85%;
     margin: auto;
     justify-content: center;
     margin-bottom: -10px;
     margin-top: -10px;
}

.description{
     width: 85%;
     margin: auto;
     justify-content: center;
     margin-top: 25px;
}

.city{
     width: 85%;
     height: 100px;
     margin: auto;
     justify-content: center;
     border: none;
     background-image: url(Images/pexels-josh-hild-2422461.jpg);
     color: white;
     text-align: center;
     background-position: center;
     background-size: cover;
     border-radius: 20px;
     margin-top: 30px;
     margin-bottom: 30px;
     padding-top: 30px;
}

.description ion-icon{
     margin-right: 10px;
}

.description label{
     margin-top: 0px;
}

hr{
     color: rgb(243, 246, 248);
}

.col-sm-9 h1{
     text-align: center;
     margin-top: 30px;
     font-size: 60px;
}

.ligne{
     display: flex;
}

.ligne img{
     width: 30px;
     height: 30px;
     margin-right: 10px;
}

.ligne p{
     margin-top: 50px;
}

h2{
     font-size: 70px;
}

.haut{
     margin: 20px 0;
}

.lignes img{
     width: 30px;
     height: 30px;
     margin-right: 10px;
}

.lignes svg{
     width: 30px;
     height: 30px;
     margin-right: 10px;
}

.lignes p{
     margin-top: 50px;
     margin-top: 30px;
}

.lignes{
     display: flex;
     margin: 20px 0 0 0;
}

h5{
     margin-bottom: -5px;
}

.line{
     margin-bottom: 40px;
}

.inforow{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width:700px) and (max-width:1000px) {
     .inforow{
          display: grid;
          grid-template-columns: 1fr 1fr;
     }
}

@media screen and (max-width:700px) {
     .inforow{
          display: grid;
          grid-template-columns: 1fr;
     }

     
}

@media screen and (max-width:1000px) {
     .tout{
          display: grid;
          grid-template-columns: 1fr;
     }

     .col-sm-3{
          width: 100%;
     }

     .col-sm-9{
          width: 100%;
     }

     form{
          width: 90%;
          justify-content: center;
          margin: auto;
     }

     .input-icone{
          width: 100%;
     }

     body{
          padding-bottom: 15px;
     }
}

@media screen and (min-width:550px) and (max-width:1000px) {
     .center{
          display: grid;
          grid-template-columns: 1fr 1fr;
     }

     .picture{
          width: 75%;
          margin: auto;
          justify-content: center;
     }

     .maininfo{
          width: 75%;
          margin: auto;
          justify-content: center;
     }

     .input-icone input{
          width: 85%;
     }
}